@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face{
    font-family: 'adventor';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/styles/fonts/adventor/adventor-regular.otf');
}

@font-face{
    font-family: 'adventor';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/styles/fonts/adventor/adventor-bold.otf');
}

@font-face{
    font-family: 'adventor';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/styles/fonts/adventor/adventor-italic.otf');
}

@font-face{
    font-family: 'adventor';
    font-style: italic;
    font-weight: 900;
    src: url('/assets/styles/fonts/adventor/adventor-bolditalic.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f5f8;
    font-family:"adventor", sans-serif;
}
