.idea/*

/.DS_Store
###> symfony/framework-bundle ###
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/

/bolt.db
###< symfony/framework-bundle ###


###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> secrets ###
/config/secrets/dev/dev.decrypt.private.php
/config/secrets/dev/dev.JWT_SECRET_KEY.*.php
/config/secrets/prod/prod.decrypt.private.php
###< secrets ###
###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> pentatrion/vite-bundle ###
/node_modules/
/public/build/
###< pentatrion/vite-bundle ###
