//Mixin Navigation
@mixin nav-item-base {
    display: flex;
    align-items: center;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    font-size: clamp(0.8rem, 1.2vw, 0.8rem);
}

// Hover Underline Effect
@mixin hover-underline {
    @media (min-width: 901px) {
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            width: 0;
            height: 2px;
            background: #4f2794;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
        }

        &:hover::after {
            left: 0;
            width: 100%;
        }
    }
}
