<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de Mot de Passe</title>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <!-- Vous pouvez ajouter un logo ou un en-tête ici -->
        </div>
        <div class="content">
            <p class="text-center">Bonjour {{ user.prenom }}!</p>
            <p class="block">
                Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour procéder :
            </p>
            <p class="text-center">
                <a href={{ url }}'/resetPassword/{{ user.id }}/{{ token }}'>Réinitialiser mon mot de passe</a>
            </p>
            <p>
                Cordialement,<br><br>
                L'équipe Kiné Sport Santé
            </p>
        </div>
    </div>
</div>
</body>
</html>
