name: CI

on:
  push:
    branches:
      - main
  pull_request: ~
  workflow_dispatch: ~

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
  
  
env:
    APP_ENV_DEV: dev

jobs:
  tests:
    name: PHPUnit Tests
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "APP_ENV=$APP_ENV_DEV" >> .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL}}" >> .env
          echo "MERCURE_JWT_SECRET=${{ secrets.CADDY_MERCURE_JWT_SECRET }}" >> .env
          echo "MERCURE_URL=${{ secrets.MERCURE_URL }}" >> .env
          echo "MERCURE_PUBLIC_URL=${{ secrets.MERCURE_PUBLIC_URL }}" >> .env
          echo "CADDY_MERCURE_JWT_SECRET=${{ secrets.MERCURE_JWT_SECRET }}" >> .env

      - uses: php-actions/composer@v6
        env:
          APP_SECRET: ${{ secrets.APP_SECRET }}
      - uses: php-actions/phpunit@master
        with:
          version: 11.5
          php_version: '8.4'
          php_extensions: xdebug
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
          args: --coverage-text
        env:
          XDEBUG_MODE: coverage
  

  phpstan:
    name: PHPStan Static Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "APP_ENV=$APP_ENV_DEV" >> .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL}}" >> .env
          echo "MERCURE_JWT_SECRET=${{ secrets.CADDY_MERCURE_JWT_SECRET }}" >> .env
          echo "MERCURE_URL=${{ secrets.MERCURE_URL }}" >> .env
          echo "MERCURE_PUBLIC_URL=${{ secrets.MERCURE_PUBLIC_URL }}" >> .env
          echo "CADDY_MERCURE_JWT_SECRET=${{ secrets.MERCURE_JWT_SECRET }}" >> .env
  
      - uses: php-actions/composer@v6 # or alternative dependency management
        env:
          APP_SECRET: ${{ secrets.APP_SECRET }}
      - uses: php-actions/phpstan@v3
        with:
          path: src/
          
          
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: PHP-CS-Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --diff --dry-run
          
          
  rector:
    name: Rector
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create .env file
        run: |
          echo "APP_ENV=$APP_ENV_DEV" >> .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL}}" >> .env
          echo "MERCURE_JWT_SECRET=${{ secrets.CADDY_MERCURE_JWT_SECRET }}" >> .env
          echo "MERCURE_URL=${{ secrets.MERCURE_URL }}" >> .env
          echo "MERCURE_PUBLIC_URL=${{ secrets.MERCURE_PUBLIC_URL }}" >> .env
          echo "CADDY_MERCURE_JWT_SECRET=${{ secrets.MERCURE_JWT_SECRET }}" >> .env
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
      - run: composer install --no-progress --ansi
        env:
          APP_SECRET: ${{ secrets.APP_SECRET }}
      - run: vendor/bin/rector process --dry-run --config rector.php
  
  lint:
    name: Docker Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
